
p {
    border-style: dotted;
    border-radius: 0px;
    padding:10px;
}

.color-section {
    border: 1px solid navajowhite;
    height:300px;
    width:50%;
    padding:0 25 25 0;
}
.wrapper_2 {
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapper_3 {
    margin-top: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    
}
.color_button{ 
    border-color: red;
    background-color: azure;
    color:purple;
}
#calculate_button{ 
    border-color: white;
    background-color: yellow;
    color:black;
}

