* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper {
    padding: 50px 50px 100px 50px;
    border: 1px solid #f6cfbe;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 100px;
    background-image: linear-gradient( #da4f14 , #525557);
}

.wrapper img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 3px solid #0095B6;

}

.wrapper figure {
    text-align: center;
    margin-bottom: 20px;
}

.text-blue {
    color: #0095B6;
}

.fw-bold {
    font-weight: bold;
}